Bquiz.suo
Bquiz.v11.suo

/Bquiz
/Bquiz.ZingMe

/BquizDB/bin
/BquizDB/obj

/Bquiz.Admin/bin
/Bquiz.Admin/obj
/Bquiz.Admin/*.config

/Bquiz.Display/bin
/Bquiz.Display/obj
/Bquiz.Display/Bquiz_Data
/Bquiz.Display/*.config

/Bquiz.Services/bin
/Bquiz.Services/obj
