@model IEnumerable<BquizDB.Entities.bq_Quiz>

@{
    ViewBag.Title = "Danh sách quiz";
    Layout = "~/Views/Shared/_zing_pure_layout.cshtml";
}

<div style="margin-bottom:15px;">
    
    <div style="font-size:22px; margin-bottom:20px">
        <span class="label label-info" style="font-weight:lighter; font-family:tahoma">
            Danh sách đề thi</span>
    </div>

    @*<div class="row">
        

        <div class="col-md-8">
            <div style="font-size:22px;">
                <span class="label label-default" style="font-weight:lighter">Danh sách đề thi</span>
            </div>
        </div>
        
        <div class="col-md-2 col-md-offset-2">
            <a href="/Quiz/New" class="btn btn-success btn-block">
                <i class="icon-plus"></i>quiz</a>
        </div>
    </div>*@
</div>

<div class="row" style="display:block">
    @foreach (var test in Model)
    {
        @Html.Partial("/Views/Quiz/_QuizView.cshtml", test)
    }
</div>
