@model IEnumerable<BquizDB.Entities.bq_Quiz>

@{
    ViewBag.Title = "Danh sách quiz";
    Layout = "~/Views/Shared/_zing_pure_layout.cshtml";
}

<div style="font-size:22px; margin-bottom:20px">
    <span class="label label-info" style="font-weight:lighter; font-family:tahoma">
        Danh sách đề thi</span>

    <a href="@Url.Action("create", "quiz")" class="btn btn-default btn-sm pull-right" style="margin-top:4px">
        <span class="glyphicon glyphicon-plus"></span>
        add quiz</a>
</div>

<div class="row" style="display:block">
    @foreach (var test in Model)
    {
        @Html.Partial("/Views/Quiz/_QuizView.cshtml", test)
    }
</div>
