<div class="page" style="margin-top:100px">
    <a href="https://play.google.com/store/apps/details?id=com.tin.toiecpractice&hl=en">
        <img src="/content/images/get-it-on-google-play.png" 
            height="50"
            title="get it on google play" />
    </a>
</div>
