@*<div id="header">
    <div class="page">
        <div id="menu">
            <div style="display:inline-block; vertical-align:top;">
                <table style="height:56px">
                    <tr>
                        <td style="width:30px">
                            <img src="../../Content/images/Statue%20Of%20Liberty.png" width="50" /></td>
                        <td style="width:70px">
                            <a href="/">
                                <span style="font-size:18px">bquiz</span>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>

            <div style="width:253px; display:inline-block; float:right;" >
                @Html.Partial("/Views/Shared/_LoginPartial.cshtml")
            </div>
        </div>
    </div>
</div>*@

<ol class="breadcrumb" style="margin-bottom:10px">
    <li><a href="/"><b>Bquiz</b></a></li>
    <li><a href="/">Danh sách đề thi</a></li>
    <li><a href="@Url.Action("ranking", "user")">Bảng xếp hạng</a></li>
    @*<li>
        <a href="https://play.google.com/store/apps/details?id=com.tin.toiecpractice&hl=en" target="_blank">
            Get it on Google Play 
            <i class="glyphicon glyphicon-chevron-right"></i></a>
    </li>*@

    <li class="dropdown pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Setting <b class="caret"></b></a>

        <ul class="dropdown-menu">
            <li><a href="/quiz/manage">Manage Your Quiz</a></li> 
            <li><a href="/user/history">Test History</a></li>
            <li><a href="@Url.Action("editprofile", "user")">Edit Profile</a></li>
            @if(ps_Membership.IsAuthenticated() &&
                ps_Membership.GetUser().UserName == "tampham47")
            {
                <li class="divider"></li>
                <li><a href="@Url.Action("approval", "quiz")">Approval</a></li>
            }
        </ul>
    </li>
</ol>

