@model IEnumerable<Bquiz.Display.Models.ps_PartViewItem>
@{Layout = null;}

<style>
    .dropdown-menu > li > a {
        padding-right:8px;
    }
    .label {
        font-weight:lighter;
    }
</style>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Answer board</h4>
            </div>

            <div class="modal-body" style="font-size:17px">
                @for (var i = 1; i <= 200; i++)
                {
                    if (i % 5 != 0)
                    {
                    <span class="label label-success">
                        <a href="#" style="color:white">@i.ToString("D3")</a></span>
                    } else{
                    <span class="label label-danger">
                        <a href="#" style="color:white">@i.ToString("D3")</a></span>    
                    }
                }
            </div>
        </div>
    </div>
</div>

<div style="padding:2px; margin-bottom:10px">
    @foreach(var group in Model)
    {
        @Html.Partial("_NavigationItem", group)
    }

    <div class="controls pull-right">
        <a href="#" class="btn btn-link">44p:20s</a>
        <div class="btn-group">
            <a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-th"></span></a>
        
            <a href="#" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-ok"></span>
                submit</a>
        </div>
    </div>
</div>
