@model Bquiz.Display.Models.ps_PartViewItem

<div class="btn-group">
    <button class="btn-bquiz btn btn-link" data-toggle="dropdown">
        @Model.PartName</button>

    <ul class="dropdown-menu" role="menu">
        @foreach(var item in Model.Groups)
        {
        <li>
            <a href="@Url.Action("Run", "Group", 
                new { testId=Model.TestId, groupId=item.QuestionGroupId })">
                @item.Name

                <span class="label label-success pull-right">
                    <span class="glyphicon glyphicon-ok"></span>
                </span>
            </a></li>
        }
    </ul>
</div>